In [1]:
import pandas as pd

In [59]:
calendar = pd.read_csv(filepath_or_buffer = 'calendar.csv')

In [42]:
venues = pd.read_csv(filepath_or_buffer = 'venues.csv')
real_estate = pd.read_csv(filepath_or_buffer = 'real_estate.csv')
demographics = pd.read_csv(filepath_or_buffer = 'demographics.csv')
econ_state = pd.read_csv(filepath_or_buffer = 'econ_state.csv')
listings = pd.read_csv(filepath_or_buffer = 'listings.csv',low_memory=False)

In [60]:
calendar = calendar[calendar['available'] == 't']
calendar.dropna(axis=1,inplace=True)
calendar['year'], calendar['month'], calendar['day'] = calendar['date'].str.split('-', 2).str
calendar.drop(['date', 'day', 'metro_area'],axis=1,inplace=True)
calendar['available'] = 1
calendar['price'] = (calendar['price'].str)[1:]

In [76]:
list_of_price = []
for i in range(0,len(calendar)):
    price = calendar['price'].iloc[i]
    if ',' in price:
        price = price.replace(",", "")
    list_of_price.append(float(price))
calendar['price'] = list_of_price

In [77]:
calendar['price'] = list_of_price

In [86]:
grouped_clendar = calendar.groupby(by = ['listing_id', 'year', 'month'])['price', 'available'].sum()

In [88]:
grouped_clendar['price'] = grouped_clendar['price']/grouped_clendar['available']

In [92]:
grouped_clendar

                            price  available
listing_id year month
6          2016 07     337.857143         14
                09     425.000000         25
                10     425.000000          3
941        2017 05      94.000000          9
                06     117.800000         30
                07     118.419355         31
                08      97.806452         31
                09     102.933333         30
                10     108.392857         28
958        2017 04     171.500000          4
                05     170.000000          5
                06     170.000000          8
                07     170.000000         10
                08     171.411765         17
                09     171.714286         14
                10     170.947368         19
                11     171.600000         30
                12     171.935484         31
           2018 01     171.548387         31
                02     171.714286         28
                03     171.935484         31
                04     170.000000          1
2404       2017 05      85.000000         30
                06      85.000000         30
                07      85.000000         31
                08      85.000000         31
                09      85.000000         30
                10      85.000000         31
                11      85.000000         30
                12      85.000000         31
...                           ...        ...
18523285   2018 02      64.285714         28
                03      64.322581         31
                04      64.266667         30
                05      64.000000          2
18523843   2017 05      50.000000         29
                06      50.100000         30
                07      51.451613         31
                08      53.516129         31
                09      54.700000         30
                10      52.322581         31
                11      53.633333         30
                12      54.000000         31
           2018 01      54.000000         31
                02      54.000000         28
                03      54.000000         31
                04      54.000000         30
                05      54.000000          2
18524042   2017 05      58.000000         29
                06      58.333333         30
                07      60.806452         31
                08      63.354839         31
                09      68.933333         30
                10      67.967742         31
                11      69.800000         30
                12      71.451613         31
           2018 01      70.161290         31
                02      70.714286         28
                03      71.451613         31
                04      70.333333         30
                05      65.000000          2

[430649 rows x 2 columns]